.Posts{
    flex:9;
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 20px;
}
@media screen and (max-width:480px) {
    .Posts{
        grid-template-columns: auto;
    }
}